In [18]:
import pandas as pd
import numpy as np

In [19]:
company = pd.read_csv("Company.csv")

In [20]:
company.drop("Unnamed: 0", axis = 1, inplace = True)

In [21]:
company.head()

,Ticker,Name,Sector,Industry,Followers,Analysts
0,GNC,GNC Holdings Inc.,Consumer Discretionary,Specialty Retail,130,185
1,PAG,"Penske Automotive Group, Inc.",Consumer Discretionary,Specialty Retail,51,84
2,ABG,"Asbury Automotive Group, Inc.",Consumer Discretionary,Specialty Retail,47,84
3,SYX,Global Industrial Company,Consumer Discretionary,Specialty Retail,15,28
4,MNRO,"Monro, Inc.",Consumer Discretionary,Specialty Retail,58,162

In [22]:
eps_q1 = pd.read_csv("EPS_Q1_2019_updated.csv", index_col = "Unnamed: 0")
eps_q1["Quarter"] = "Q1"

In [23]:
eps_q1["Wall_Street_Conses"].replace(' ', 0, inplace = True)

In [24]:
eps_q1.replace(' ', 0, inplace = True)
eps_q1.head()

,Ticker,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter
0,GNC,0.15,0.02,0.07,0,Q1
1,PAG,1.25,1.23,1.23,1.24,Q1
2,ABG,2.20,2.02,1.98,1.92,Q1
3,SYX,0.29,0.24,0.24,0.24,Q1
4,MNRO,0.64,0.67,0.67,0.67,Q1

In [25]:
eps_q2 = pd.read_csv("EPS_Q2_2019_updated.csv", index_col = "Unnamed: 0")
eps_q2["Quarter"] = "Q2"

In [26]:
eps_q2["Wall_Street_Conses"].replace(' ', 0, inplace = True)

In [27]:
eps_q2.replace(' ', 0, inplace = True)
eps_q2.head()

,Ticker,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter
0,GNC,0.13,0.07,0.09,0.07,Q2
1,PAG,1.42,1.60,1.59,1.59,Q2
2,ABG,2.38,2.33,2.25,2.27,Q2
3,SYX,0.43,0.38,0.39,0.41,Q2
4,MNRO,0.68,0.64,0.64,0.64,Q2

In [28]:
eps_q3 = pd.read_csv("EPS_Q3_2019_updated.csv", index_col = "Unnamed: 0")
eps_q3["Quarter"] = "Q3"

In [29]:
eps_q3["Wall_Street_Conses"].replace(' ', 0, inplace = True)

In [30]:
eps_q3.replace(' ', 0, inplace = True)
eps_q3.head()

,Ticker,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter
0,GNC,-0.02,-0.04,-0.01,-0.02,Q3
1,PAG,1.42,1.37,1.42,1.41,Q3
2,ABG,2.33,2.43,2.35,2.35,Q3
3,SYX,0.36,0.40,0.41,0.40,Q3
4,MNRO,0.61,0.59,0.59,0.58,Q3

In [31]:
eps_q4 = pd.read_csv("EPS_Q4_2019_updated.csv", index_col = "Unnamed: 0")
eps_q4["Quarter"] = "Q4"

In [32]:
eps_q4["Wall_Street_Conses"].replace(' ', 0, inplace = True)

In [33]:
eps_q4.replace(' ', 0, inplace = True)
eps_q4.head()

,Ticker,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter
0,GNC,-0.07,0,0.01,-0.52,Q4
1,PAG,1.25,1.21,1.23,1.20,Q4
2,ABG,2.53,2.39,2.35,2.35,Q4
3,SYX,0.30,0.26,0.25,0.25,Q4
4,MNRO,0.51,0.53,0.52,0.51,Q4

In [57]:
eps = pd.concat([eps_q1, eps_q2, eps_q3, eps_q4])

In [58]:
eps.reset_index(inplace = True)

In [59]:
eps.drop('index', axis=1, inplace = True)

In [60]:
eps.fillna(0, inplace = True)

In [61]:
eps.isna().sum()

Ticker                0
Reported_Earnings     0
Estimate_Consensus    0
Estimate_Mean         0
Wall_Street_Conses    0
Quarter               0
dtype: int64

In [139]:
df = pd.merge(company,eps,how = 'inner', on = 'Ticker')
df.drop(["Sector", "Industry"], axis = 1, inplace=True)
df.head()

,Ticker,Name,Followers,Analysts,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter
0,GNC,GNC Holdings Inc.,130,185,0.15,0.02,0.07,0,Q1
1,GNC,GNC Holdings Inc.,130,185,0.13,0.07,0.09,0.07,Q2
2,GNC,GNC Holdings Inc.,130,185,-0.02,-0.04,-0.01,-0.02,Q3
3,GNC,GNC Holdings Inc.,130,185,-0.07,0,0.01,-0.52,Q4
4,PAG,"Penske Automotive Group, Inc.",51,84,1.25,1.23,1.23,1.24,Q1

In [140]:
df = pd.get_dummies(df,columns = ["Quarter"])

In [141]:
df.drop(["Ticker", "Name"], axis=1, inplace = True)

In [142]:
df["Followers"] = df["Followers"].apply(lambda x:x.replace(',', ''))

In [143]:
df["Analysts"] = df["Analysts"].apply(lambda x:x.replace(',', ''))

In [144]:
df["Analysts"].unique()

array(['185', '84', '28', '162', '160', '292', '45', '5', '114', '54',
       '47', '42', '266', '99', '41', '67', '111', '48', '22', '109',
       '105', '276', '91', '43', '50', '1807', '218', '687', '498', '471',
       '165', '213', '71', '33', '460', '370', '117', '722', '238', '146',
       '636', '826', '588', '602', '539', '154', '568'], dtype=object)

In [145]:
df[["Followers", "Analysts", "Reported_Earnings", "Estimate_Consensus", "Estimate_Mean", "Wall_Street_Conses"]] = df[["Followers", "Analysts", "Reported_Earnings", "Estimate_Consensus", "Estimate_Mean", "Wall_Street_Conses"]].astype('float32')

In [146]:
df.dtypes

Followers             float32
Analysts              float32
Reported_Earnings     float32
Estimate_Consensus    float32
Estimate_Mean         float32
Wall_Street_Conses    float32
Quarter_Q1              uint8
Quarter_Q2              uint8
Quarter_Q3              uint8
Quarter_Q4              uint8
dtype: object

In [147]:
df.corr()

,Followers,Analysts,Reported_Earnings,Estimate_Consensus,Estimate_Mean,Wall_Street_Conses,Quarter_Q1,Quarter_Q2,Quarter_Q3,Quarter_Q4
Followers,1.000000e+00,9.781564e-01,0.328203,0.302757,0.290956,0.282030,1.163598e-16,4.857063e-17,-2.515888e-17,-3.214746e-17
Analysts,9.781564e-01,1.000000e+00,0.298591,0.264235,0.250299,0.245266,1.348840e-16,7.811814e-17,-1.926914e-17,-2.812253e-17
Reported_Earnings,3.282029e-01,2.985912e-01,1.000000,0.662957,0.595094,0.599236,-7.402686e-02,-8.751433e-03,5.364116e-02,2.913714e-02
Estimate_Consensus,3.027570e-01,2.642347e-01,0.662957,1.000000,0.970992,0.980536,-1.034620e-01,-3.668867e-03,-5.249301e-03,1.123802e-01
Estimate_Mean,2.909560e-01,2.502991e-01,0.595094,0.970992,1.000000,0.948465,-1.010186e-01,3.601870e-03,5.929227e-03,9.148746e-02
Wall_Street_Conses,2.820297e-01,2.452664e-01,0.599236,0.980536,0.948465,1.000000,-1.109397e-01,8.420625e-03,-7.712093e-03,1.102311e-01
Quarter_Q1,1.163598e-16,1.348840e-16,-0.074027,-0.103462,-0.101019,-0.110940,1.000000e+00,-3.333333e-01,-3.333333e-01,-3.333333e-01
Quarter_Q2,4.857063e-17,7.811814e-17,-0.008751,-0.003669,0.003602,0.008421,-3.333333e-01,1.000000e+00,-3.333333e-01,-3.333333e-01
Quarter_Q3,-2.515888e-17,-1.926914e-17,0.053641,-0.005249,0.005929,-0.007712,-3.333333e-01,-3.333333e-01,1.000000e+00,-3.333333e-01
Quarter_Q4,-3.214746e-17,-2.812253e-17,0.029137,0.112380,0.091487,0.110231,-3.333333e-01,-3.333333e-01,-3.333333e-01,1.000000e+00

In [148]:
print(min(df["Reported_Earnings"]), max(df["Reported_Earnings"]))

-5.599999904632568 5.079999923706055

In [149]:
X = df.drop("Reported_Earnings", axis = 1)
y = df["Reported_Earnings"]

In [150]:
from sklearn.model_selection import train_test_split

In [151]:
x_tr, x_ts, y_tr, y_ts = train_test_split(X,y,test_size = 0.3, random_state = 51)

In [152]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression()
lr.fit(x_tr, y_tr)

LinearRegression()

In [153]:
y_pred = lr.predict(x_ts)

In [154]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error


print(r2_score(y_pred, y_ts))
print(np.sqrt(mean_squared_error(y_ts,y_pred)))

0.4508893616809272
0.48102853

In [155]:
import matplotlib.pyplot as plt
%matplotlib inline

In [162]:
import statsmodels.api as sm

X = sm.add_constant(X)

ols = sm.OLS(y,X)
ols_m = ols.fit()

C:\Users\Mit Patel\anaconda3\lib\site-packages\statsmodels\tsa\tsatools.py:130: FutureWarning: In a future version of pandas all arguments of concat except for the argument 'objs' will be keyword-only
  x = pd.concat(x[::order], 1)

In [163]:
print(ols_m.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:      Reported_Earnings   R-squared:                       0.575
Model:                            OLS   Adj. R-squared:                  0.558
Method:                 Least Squares   F-statistic:                     33.02
Date:                Thu, 09 Dec 2021   Prob (F-statistic):           1.74e-32
Time:                        18:23:15   Log-Likelihood:                -221.47
No. Observations:                 204   AIC:                             460.9
Df Residuals:                     195   BIC:                             490.8
Df Model:                           8
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                  0.1231      0.065      1.897      0.059      -0.005       0.251
Followers              0.0011      0.001      0.953      0.342      -0.001       0.003
Analysts              -0.0004      0.001     -0.472      0.637      -0.002       0.001
Estimate_Consensus     3.1834      0.350      9.090      0.000       2.493       3.874
Estimate_Mean         -1.0356      0.212     -4.887      0.000      -1.454      -0.618
Wall_Street_Conses    -1.4479      0.254     -5.703      0.000      -1.949      -0.947
Quarter_Q1            -0.0122      0.090     -0.135      0.893      -0.190       0.166
Quarter_Q2             0.0629      0.091      0.694      0.488      -0.116       0.242
Quarter_Q3             0.1527      0.090      1.688      0.093      -0.026       0.331
Quarter_Q4            -0.0804      0.092     -0.874      0.383      -0.262       0.101
==============================================================================
Omnibus:                      197.798   Durbin-Watson:                   1.913
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             7732.679
Skew:                          -3.480   Prob(JB):                         0.00
Kurtosis:                      32.348   Cond. No.                     4.92e+18
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is  2e-30. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.