In [1]:
!pip install shutup
import shutup; shutup.please()

Requirement already satisfied: shutup in c:\users\mit patel\anaconda3\lib\site-packages (0.1.3)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\mit patel\anaconda3\lib\site-packages (4.0.0)
Requirement already satisfied: trio~=0.17 in c:\users\mit patel\anaconda3\lib\site-packages (from selenium) (0.19.0)
Requirement already satisfied: urllib3[secure]~=1.26 in c:\users\mit patel\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\mit patel\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (19.3.0)
Requirement already satisfied: outcome in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14; os_name == "nt" and implementation_name != "pypy" in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.0)
Requirement already satisfied: sortedcontainers in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.2.2)
Requirement already satisfied: sniffio in c:\users\mit patel\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cryptography>=1.3.4; extra == "secure" in c:\users\mit patel\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2.9.2)
Requirement already satisfied: certifi; extra == "secure" in c:\users\mit patel\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (2020.6.20)
Requirement already satisfied: pyOpenSSL>=0.14; extra == "secure" in c:\users\mit patel\anaconda3\lib\site-packages (from urllib3[secure]~=1.26->selenium) (19.1.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\mit patel\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.0.0)
Requirement already satisfied: pycparser in c:\users\mit patel\anaconda3\lib\site-packages (from cffi>=1.14; os_name == "nt" and implementation_name != "pypy"->trio~=0.17->selenium) (2.20)
Requirement already satisfied: six>=1.4.1 in c:\users\mit patel\anaconda3\lib\site-packages (from cryptography>=1.3.4; extra == "secure"->urllib3[secure]~=1.26->selenium) (1.15.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mit patel\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.12.0)

In [3]:
import os
import re
import time
import csv
import json
import random
import requests
import pandas as pd
import numpy as np

from datetime import date, timedelta, datetime

import selenium
from selenium import webdriver
from bs4 import BeautifulSoup

In [4]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException
import time

In [5]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [6]:
tickers_list = pd.read_csv('./msa8040_final_project_ticker_list.csv')

In [7]:
tickers_list

     ticker
0       GPC
1       ALV
2      GNTX
3       VNE
4      TOWR
...     ...
2231    AWR
2232   WTRG
2233    AWK
2234    CWT
2235   CWCO

[2236 rows x 1 columns]

In [8]:
tickers_list = tickers_list["ticker"].tolist()

In [9]:
new_tick_list = tickers_list[298:349]

In [10]:
print(new_tick_list)

['GNC', 'PAG', 'ABG', 'SYX', 'MNRO', 'HZO', 'ORLY', 'RCII', 'HVT', 'MUSA', 'AAN', 'GPI', 'SAH', 'FND', 'CVNA', 'XOXO', 'LL', 'CWH', 'L', 'MED', 'VSI', 'TA', 'FTD', 'ODP', 'PRTY', 'AAP', 'SBH', 'SQBG', 'CRMT', 'HD', 'BKS', 'LOW', 'TJX', 'LB', 'SCVL', 'PLCE', 'SSI', 'CATO', 'ROST', 'WSM', 'CAL', 'FL', 'HIBB', 'BKE', 'URBN', 'BBY', 'DKS', 'ANF', 'TIF', 'CHS', 'GPS']

In [11]:
len(new_tick_list)

51

In [12]:
url = "https://www.estimize.com/" + 'AEO' + "/fq4-2019?metric_name=eps&chart=table"

In [13]:
url

'https://www.estimize.com/AEO/fq4-2019?metric_name=eps&chart=table'

In [14]:
browser.get(url)

In [15]:
main_content = browser.find_element_by_id("releases_show")

In [16]:
comp = main_content.find_element_by_xpath('//div[2]/div[2]/div/div[1]/div/div/div/div[1]/p/a').text

In [17]:
print(comp)

American Eagle Outfitters, Inc.

In [18]:
sec = main_content.find_element_by_xpath("//div[2]/div[2]/div/div[1]/div/div/div/p/span[1]/a/span").text

In [19]:
print(sec)

Consumer Discretionary

In [20]:
ind = main_content.find_element_by_xpath("//div[2]/div[2]/div/div[1]/div/div/div/p/span[2]/a/span").text

In [21]:
print(ind)

Specialty Retail

In [23]:
anal = browser.find_element_by_xpath("//*[@id='summary-stats']/div/div/div[2]/a").text

In [24]:
anal

'451'

### Question b Part a

In [25]:
ticker = []
company = []
sector = []
industry = []
followers = []
analysts = []
for tic in new_tick_list:
    
#     print(tic)
#     break
    
    url = "https://www.estimize.com/" + tic + "/fq4-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(1)
    ticker.append(tic)
    company.append(browser.find_element_by_xpath('//*[@id="releases_show"]/div[2]/div[2]/div/div[1]/div/div/div/div[1]/p/a').text)
    sector.append(browser.find_element_by_xpath('//*[@id="releases_show"]/div[2]/div[2]/div/div[1]/div/div/div/p/span[1]/a/span').text)
    industry.append(browser.find_element_by_xpath('//*[@id="releases_show"]/div[2]/div[2]/div/div[1]/div/div/div/p/span[2]/a/span').text)
    followers.append(browser.find_element_by_xpath('//*[@id="summary-stats"]/div/div/div[1]/div[2]').text)
    analysts.append(browser.find_element_by_xpath('//*[@id="summary-stats"]/div/div/div[2]/a').text)

In [26]:
df_company = pd.DataFrame()
df_company["Ticker"] = ticker
df_company["Name"] = company
df_company["Sector"] = sector
df_company["Industry"] = industry
df_company["Followers"] = followers
df_company["Analysts"] = analysts

In [27]:
df_company.head()

,Ticker,Name,Sector,Industry,Followers,Analysts
0,GNC,GNC Holdings Inc.,Consumer Discretionary,Specialty Retail,130,185
1,PAG,"Penske Automotive Group, Inc.",Consumer Discretionary,Specialty Retail,51,84
2,ABG,"Asbury Automotive Group, Inc.",Consumer Discretionary,Specialty Retail,47,84
3,SYX,Global Industrial Company,Consumer Discretionary,Specialty Retail,15,28
4,MNRO,"Monro, Inc.",Consumer Discretionary,Specialty Retail,58,162

In [35]:
df_company.to_csv("./Company.csv")

### Question b Part b

#### EPS

In [28]:
ear = browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[5]').text
ec = browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text
em = browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text
wall = browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[4]/td[5]').text

In [29]:
print(ear,ec,em,wall)

0.58 0.41 0.41 0.41

Q1-2019

In [27]:
rep_ear = []
est_cons = []
est_mean = []
wall_st_cons = []

for tic in new_tick_list:
    
#     print(tic)
#     break
    
    url = "https://www.estimize.com/" + tic + "/fq1-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(1)
    if(tic == "VSI" or tic=="MUSA" or tic=="CVNA" or tic == "FTD" or tic == "CATO"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(' ')
        est_mean.append(' ')
        wall_st_cons.append(' ')
    elif (tic=="GNC" or tic == "L"  or tic == "SSI"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[4]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[4]').text)
        wall_st_cons.append(' ')
    else:
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[5]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[5]').text)
        wall_st_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[4]/td[5]').text)

In [28]:
df_eps_q1_2019 = pd.DataFrame()
df_eps_q1_2019["Ticker"] = new_tick_list
df_eps_q1_2019["Reported_Earnings"] = rep_ear
df_eps_q1_2019["Estimate_Consensus"] = est_cons
df_eps_q1_2019["Estimate_Mean"] = est_mean
df_eps_q1_2019["Wall_Street_Conses"] = wall_st_cons
df_eps_q1_2019.head()

  Ticker Reported_Earnings Estimate_Consensus Estimate_Mean Wall_Street_Conses
0    GNC              0.15               0.02          0.07
1    PAG              1.25               1.23          1.23               1.24
2    ABG              2.20               2.02          1.98               1.92
3    SYX              0.29               0.24          0.24               0.24
4   MNRO              0.64               0.67          0.67               0.67

In [29]:
df_eps_q1_2019.to_csv("./EPS_Q1_2019_updated.csv")

Q2-2019

In [30]:
rep_ear = []
est_cons = []
est_mean = []
wall_st_cons = []

for tic in new_tick_list:
    
#     print(tic)
#     break
    
    url = "https://www.estimize.com/" + tic + "/fq2-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(1)
    if(tic=="MUSA" or tic=="CVNA" or tic == "FTD" or tic == "CATO"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(' ')
        est_mean.append(' ')
        wall_st_cons.append(' ')
    elif (tic == "L" or tic == "SSI"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[4]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[4]').text)
        wall_st_cons.append(' ')
    else:
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[5]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[5]').text)
        wall_st_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[4]/td[5]').text)

In [31]:
df_eps_q2_2019 = pd.DataFrame()
df_eps_q2_2019["Ticker"] = new_tick_list
df_eps_q2_2019["Reported_Earnings"] = rep_ear
df_eps_q2_2019["Estimate_Consensus"] = est_cons
df_eps_q2_2019["Estimate_Mean"] = est_mean
df_eps_q2_2019["Wall_Street_Conses"] = wall_st_cons

In [32]:
df_eps_q2_2019.head()

  Ticker Reported_Earnings Estimate_Consensus Estimate_Mean Wall_Street_Conses
0    GNC              0.13               0.07          0.09               0.07
1    PAG              1.42               1.60          1.59               1.59
2    ABG              2.38               2.33          2.25               2.27
3    SYX              0.43               0.38          0.39               0.41
4   MNRO              0.68               0.64          0.64               0.64

In [33]:
df_eps_q2_2019.to_csv("./EPS_Q2_2019_updated.csv")

Q3-2019

In [34]:
rep_ear = []
est_cons = []
est_mean = []
wall_st_cons = []

for tic in new_tick_list:
    
#     print(tic)
#     break
    
    url = "https://www.estimize.com/" + tic + "/fq3-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(1)
    if(tic=="MUSA" or tic=="CVNA" or tic == "FTD" or tic == "CATO"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(' ')
        est_mean.append(' ')
        wall_st_cons.append(' ')
    elif (tic == "L" or tic == "SSI"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[4]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[4]').text)
        wall_st_cons.append(' ')
    else:
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[5]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[5]').text)
        wall_st_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[4]/td[5]').text)

In [35]:
df_eps_q3_2019 = pd.DataFrame()
df_eps_q3_2019["Ticker"] = new_tick_list
df_eps_q3_2019["Reported_Earnings"] = rep_ear
df_eps_q3_2019["Estimate_Consensus"] = est_cons
df_eps_q3_2019["Estimate_Mean"] = est_mean
df_eps_q3_2019["Wall_Street_Conses"] = wall_st_cons

In [36]:
df_eps_q3_2019.head()

  Ticker Reported_Earnings Estimate_Consensus Estimate_Mean Wall_Street_Conses
0    GNC             -0.02              -0.04         -0.01              -0.02
1    PAG              1.42               1.37          1.42               1.41
2    ABG              2.33               2.43          2.35               2.35
3    SYX              0.36               0.40          0.41               0.40
4   MNRO              0.61               0.59          0.59               0.58

In [37]:
df_eps_q3_2019.to_csv("./EPS_Q3_2019_updated.csv")

Q4-2019

In [38]:
rep_ear = []
est_cons = []
est_mean = []
wall_st_cons = []

for tic in new_tick_list:
    
#     print(tic)
#     break
    
    url = "https://www.estimize.com/" + tic + "/fq4-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(1)
    if(tic=="MUSA" or tic=="CVNA" or tic == "L" or tic == "FTD" or tic == "SSI" or tic == "CATO"):
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[4]').text)
        est_cons.append(' ')
        est_mean.append(' ')
        wall_st_cons.append(' ')
    else:
        rep_ear.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[1]/td[5]').text)
        est_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[2]/td[5]').text)
        est_mean.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[3]/td[5]').text)
        wall_st_cons.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[1]/tr[4]/td[5]').text)

In [39]:
df_eps_q4_2019 = pd.DataFrame()
df_eps_q4_2019["Ticker"] = new_tick_list
df_eps_q4_2019["Reported_Earnings"] = rep_ear
df_eps_q4_2019["Estimate_Consensus"] = est_cons
df_eps_q4_2019["Estimate_Mean"] = est_mean
df_eps_q4_2019["Wall_Street_Conses"] = wall_st_cons
df_eps_q4_2019.head()

  Ticker Reported_Earnings Estimate_Consensus Estimate_Mean Wall_Street_Conses
0    GNC             -0.07                  0          0.01              -0.52
1    PAG              1.25               1.21          1.23               1.20
2    ABG              2.53               2.39          2.35               2.35
3    SYX              0.30               0.26          0.25               0.25
4   MNRO              0.51               0.53          0.52               0.51

In [40]:
df_eps_q4_2019.to_csv("./EPS_Q4_2019_updated.csv")

### EPS Analysts

In [92]:
strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]/strong').text).split(" ")[1].split("/")[1]
strl

print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr[1]/td[3]/a[2]/strong').text)

print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr[2]/td[3]/a[2]/strong').text)

print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr[1]/td[6]').text)

print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr[2]/td[6]').text)

Analyst_1844295
Bill
0.50
0.43

In [99]:
browser.get('https://www.estimize.com/tif/fq4-2019?metric_name=eps&chart=table')

strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]/strong').text).split(" ")[1].split("/")[1]
strl = int(strl)
for i in range(1,strl+1):
    print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]/strong').text)
    print(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[6]').text)

Bill Dreher
1.80
Dana Telsey
1.80
Analyst_589004
1.82
omni
1.77
Sentinel
1.75
WonterC
1.75
Analyst_6356544
1.74
Bill
1.72
Frederick Tremblay
1.71
Rick Patel
1.67
eaojnr
2.00
Randal Konik
1.57
Brian Nagel, CFA
1.16

In [105]:
for i in range(10):
    print(new_tick_list[i], ll[])

GNC 6
PAG 10
ABG 10
SYX 3
MNRO 38
HZO 27
ORLY 22
RCII 9
HVT 5
MUSA 0

#### EPS ANALYST Q1

In [141]:
tick_temp = []
noanal_tick = []
anal_name = []
val = []
for tic in new_tick_list:
    url = "https://www.estimize.com/" + tic + "/fq1-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(2)
    strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]').text).split(" ")[1].split("/")[1]
    strl = int(strl)
    flag = 1
    if(strl==0):
        flag=0
        noanal_tick.append(tic)
        continue
    elif(strl>30):
        more_est = browser.find_element_by_xpath('//*[@id="estimates"]/div/a')
        more_est.click()
    elif (tic=="GNC" or tic=="VSI" or tic == "L"or tic=="SSI" or tic == "CATO"):
        for i in range(1,strl+1):
            anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
            val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[4]').text)
        
        if(flag): 
            for i in range(strl): tick_temp.append(tic)
        continue
    for i in range(1,strl+1):
        anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
        val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[6]').text)
    if(flag): 
        for i in range(strl): tick_temp.append(tic)

In [142]:
print(len(tick_temp))
print(len(anal_name))
print(len(val))

905
905
905

In [143]:
eps_anal_q1 = pd.DataFrame()
eps_anal_q1["Ticker"] = tick_temp
eps_anal_q1["Analyst"] = anal_name
eps_anal_q1["Value"] = val

In [144]:
eps_anal_q1.head()

  Ticker             Analyst  Value
0    GNC                Bill  -0.11
1    GNC     Analyst_8749611   0.02
2    GNC              AetCap   0.04
3    GNC  Frederick Tremblay   0.12
4    GNC     Analyst_5991158   0.15

In [145]:
eps_anal_q1.to_csv("EPS_ANAL_Q1.csv")

#### EPS ANALYST Q2

In [152]:
tick_temp = []
noanal_tick = []
anal_name = []
val = []
for tic in new_tick_list:
    url = "https://www.estimize.com/" + tic + "/fq2-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(2)
    strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]').text).split(" ")[1].split("/")[1]
    strl = int(strl)
    flag = 1
    if(strl==0):
        flag=0
        noanal_tick.append(tic)
        continue
    elif(strl>30):
        more_est = browser.find_element_by_xpath('//*[@id="estimates"]/div/a')
        more_est.click()
    elif (tic=="VSI" or tic == "L"or tic=="SSI" or tic == "CATO"):
        for i in range(1,strl+1):
            anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
            val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[4]').text)
        
        if(flag): 
            for i in range(strl): tick_temp.append(tic)
        continue
    for i in range(1,strl+1):
        anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
        val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[6]').text)
    if(flag): 
        for i in range(strl): tick_temp.append(tic)

In [153]:
print(len(tick_temp))
print(len(anal_name))
print(len(val))

895
895
895

In [154]:
eps_anal_q2 = pd.DataFrame()
eps_anal_q2["Ticker"] = tick_temp
eps_anal_q2["Analyst"] = anal_name
eps_anal_q2["Value"] = val

In [155]:
eps_anal_q2.head()

  Ticker             Analyst Value
0    GNC  Frederick Tremblay  0.12
1    GNC     Analyst_2229618  0.10
2    GNC         Buck_446488  0.17
3    GNC                Bill  0.09
4    GNC            Sentinel  0.08

In [156]:
eps_anal_q2.to_csv("EPS_ANAL_Q2.csv")

In [163]:
browser.close()

#### EPS ANALYST Q3

In [165]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [172]:
tick_temp = []
noanal_tick = []
anal_name = []
val = []
for tic in new_tick_list:
    url = "https://www.estimize.com/" + tic + "/fq3-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(5)
    strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]').text).split(" ")[1].split("/")[1]
    strl = int(strl)
    flag = 1
    if(strl==0):
        flag=0
        noanal_tick.append(tic)
        continue
    elif(strl>30):
        more_est = browser.find_element_by_xpath('//*[@id="estimates"]/div/a')
        more_est.click()
    elif (tic=="VSI" or tic == "L"or tic=="SSI" or tic == "CATO"):
        for i in range(1,strl+1):
            anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
            val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[4]').text)
        
        
        if(flag): 
            for i in range(strl): tick_temp.append(tic)
        continue
    for i in range(1,strl+1):
        anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
        val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[6]').text)
        
    if(flag): 
        for i in range(strl): tick_temp.append(tic)

In [173]:
print(len(tick_temp))
print(len(anal_name))
print(len(val))

787
787
787

In [174]:
eps_anal_q3 = pd.DataFrame()
eps_anal_q3["Ticker"] = tick_temp
eps_anal_q3["Analyst"] = anal_name
eps_anal_q3["Value"] = val

In [175]:
eps_anal_q3.head()

  Ticker             Analyst  Value
0    GNC     Analyst_8737541  -0.03
1    GNC            Sentinel  -0.01
2    GNC                Bill      0
3    GNC  Frederick Tremblay   0.02
4    GNC     Analyst_7411292  -0.10

In [176]:
eps_anal_q3.to_csv("EPS_ANAL_Q3.csv")

In [177]:
browser.close()

#### EPS Analyst Q4

In [178]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [180]:
tick_temp = []
noanal_tick = []
anal_name = []
val = []
for tic in new_tick_list:
    url = "https://www.estimize.com/" + tic + "/fq4-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(10)
    strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]').text).split(" ")[1].split("/")[1]
    strl = int(strl)
    flag = 1
    if(strl==0):
        flag=0
        noanal_tick.append(tic)
        continue
    elif(strl>30):
        more_est = browser.find_element_by_xpath('//*[@id="estimates"]/div/a')
        more_est.click()
    elif (tic=="VSI" or tic == "L"or tic=="SSI" or tic == "CATO"):
        for i in range(1,strl+1):
            anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
            val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[4]').text)
        
        
        if(flag): 
            for i in range(strl): tick_temp.append(tic)
        continue
    for i in range(1,strl+1):
        anal_name.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[2]').text)
        val.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[6]').text)
        
    if(flag): 
        for i in range(strl): tick_temp.append(tic)

In [181]:
print(len(tick_temp))
print(len(anal_name))
print(len(val))

715
715
715

In [182]:
eps_anal_q4 = pd.DataFrame()
eps_anal_q4["Ticker"] = tick_temp
eps_anal_q4["Analyst"] = anal_name
eps_anal_q4["Value"] = val

In [183]:
eps_anal_q4.head()

  Ticker             Analyst  Value
0    GNC                Bill  -0.03
1    GNC            Sentinel  -0.01
2    GNC  Frederick Tremblay  -0.01
3    GNC     Analyst_2855865      0
4    GNC     Analyst_4146227   0.03

In [184]:
eps_anal_q4.to_csv("EPS_ANAL_Q4.csv")

In [185]:
browser.close()

### Part C

##### Analysts Data

In [21]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [22]:
url = "https://www.estimize.com/GPS/fq4-2019?metric_name=eps&chart=table"
browser.get(url)

In [23]:
browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr[2]/td[3]/a[3]/p').text

'BillB1210'

In [25]:
tick_temp = []
anal_userid = []
noanal_tick = []
for tic in new_tick_list:
    url = "https://www.estimize.com/" + tic + "/fq4-2019?metric_name=eps&chart=table"
    browser.get(url)
    time.sleep(5)
    strl = (browser.find_element_by_xpath('//*[@id="estimates"]/p[1]').text).split(" ")[1].split("/")[1]
    strl = int(strl)
    flag = 1
    if(strl==0):
        flag=0
        noanal_tick.append(tic)
        continue
    elif(strl>30):
        more_est = browser.find_element_by_xpath('//*[@id="estimates"]/div/a')
        more_est.click()
    elif (tic=="VSI" or tic == "L"or tic=="SSI" or tic == "CATO"):
        for i in range(1,strl+1):
            anal_userid.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[3]/p').text)
        continue
    for i in range(1,strl+1):
        anal_userid.append(browser.find_element_by_xpath('//*[@id="estimates"]/table/tbody[2]/tr['+str(i)+']/td[3]/a[3]/p').text)

In [26]:
anal_user_id = list(set(anal_userid))

In [27]:
len(anal_user_id)

319

In [30]:
analysts = pd.DataFrame()
analysts["Analysts"] = anal_user_id
analysts.to_csv("Analysts.csv")

In [49]:
users = pd.read_csv("Analysts.csv")
analysts_users = users["Analysts"].to_list()

In [50]:
analysts_users = [user.lower() for user in analysts_users]

In [51]:
len(analysts_users)

318

In [52]:
import requests
import urllib

In [53]:
url = 'https://www.estimize.com/users/loopie'

In [54]:
browser.get(url)

In [117]:
member = ''
anal_name=[]
anal_user = []
roles=[]
joindate = []
conf_score = []
error = []
accuracy_ptile = []
points = []
point_est = []
stocks = []
pend_est = []
for user in analysts_users:
#     print(user)
#     break
    url = 'https://www.estimize.com/users/' + user
#     if(user=="BillB1210"): browser.get(url)
    flag=1
    response = requests.get(url)
    if response.status_code == 200:
        flag=1
    else:
        flag=0
    
    if(flag):
        browser.get(url)
        time.sleep(3)
        anal_name.append(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1/a').text)
        anal_user.append(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/p[1]/a').text)
        try:
            el = browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/ul/li[1]')
            roles.append(el.text)
        except NoSuchElementException:
            roles.append(' ')
        
        member=(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/div[2]/div[2]').text).split(' - ')[0]
        member = member.split(' ')
        member = [member[2],member[3]]
        member = ' '.join(member)
        joindate.append(member)
        conf_score.append(browser.find_element_by_xpath('//*[@id="confidence-wrap"]/div/div[2]').text)
        error.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[1]/div[1]/div[1]').text)
        accuracy_ptile.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[1]/div[2]/div[1]').text)
        points.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[2]/div[1]/div[1]').text)
        point_est.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[2]/div[2]/div[1]').text)
        stocks.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[3]/div[1]/div[1]').text)
        pend_est.append(browser.find_element_by_xpath('//*[@id="profile-tab-wrap"]/div[3]/div[2]/div[1]').text)

KeyboardInterrupt:

In [70]:
analysts_info = pd.DataFrame()
analysts_info["Analyst_Name"] = anal_name
analysts_info["Username"] = anal_user
analysts_info["Roles"] = roles
analysts_info["Join_date"] = joindate
analysts_info["Confidence"] = conf_score
analysts_info["Error"] = error
analysts_info["Accuracy_Percentile"] = accuracy_ptile
analysts_info["Points"] = points
analysts_info["Points_Estimate"] = point_est
analysts_info["Stocks"] = stocks
analysts_info["Pending_Estimates"] = pend_est

In [73]:
analysts_info.head()

,Analyst_Name,Username,Roles,Join_date,Confidence,Error,Accuracy_Percentile,Points,Points_Estimate,Stocks,Pending_Estimates
0,Analyst_2628177,Analyst_2628177,Non Professional,Mar 2019,7.2,-,-,-,-,-,0
1,loopie,loopie,Non Professional,Jul 2015,8.1,13.5%,58%,194,11.4,17,0
2,rsreina,rsreina,Non Professional,Oct 2014,7.9,10.5%,57%,291,14.6,20,21
3,Analyst_1468046,Analyst_1468046,,Feb 2016,7.8,-,-,-,-,-,0
4,Petr,Filousik,Non Professional,May 2013,4.6,-,-,-,-,-,0

In [74]:
analysts_info.to_csv("Analysts Info.csv")

In [75]:
browser.close()

##### Figure 5,6,7

##### Stocks

In [198]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [174]:
url = 'https://www.estimize.com/users/analyst_2628177'

In [175]:
browser.get(url)

In [176]:
browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1').text

'Analyst_2628177'

In [177]:
browser.execute_script("window.scrollTo(0, window.scrollY + 1200)")

In [109]:
anal_info = pd.read_csv('Analysts Info.csv')

In [119]:
users = anal_info.Username.tolist()
users = [user.lower() for user in users]

In [152]:
len_est = int(browser.find_element_by_xpath('//*[@id="profile-covered-stocks-wrap"]/p/strong/span[2]').text)
len_est

1

In [187]:
count=0
try:
    for i in range(1,31):
        tick.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[1]/a/strong').text)
        report.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[2]').text)
        quarters.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[3]').text)
        points.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[4]').text)
        pts_ets.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[5]').text)
        e_rate.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[6]').text)
        acc.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[7]').text)
        count+=1

except:
    print("kek")

kek

In [195]:
count
anal = (browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1/a').text)
gg = [anal for i in range(count)]
gg

['Analyst_2628177']

In [199]:
anal_name = []
tick = []
report = []
quarters = []
points = []
pts_ets = []
e_rate = []
acc = []


for user in users:
    
    url = 'https://www.estimize.com/users/'+user
    
    browser.get(url)
    browser.execute_script("window.scrollTo(0, window.scrollY + 1200)")
    time.sleep(5)
    
    for a in range(0,1):
        try:
            if(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[2]/a')):
                a=browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[2]/a')
                a.click()
        except NoSuchElementException:
            break
    try:
        for i in range(1,31):
            tick.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[1]/a/strong').text)
            report.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[2]').text)
            quarters.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[3]').text)
            points.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[4]').text)
            pts_ets.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[5]').text)
            e_rate.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[6]').text)
            acc.append(browser.find_element_by_xpath('//*[@id="profile-covered-stocks"]/div[1]/div[2]/div['+str(i)+']/div[7]').text)
            anal_name.append(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1/a').text)

    except:
        continue

In [200]:
print(len(anal_name), len(tick), len(report), len(quarters), len(points), len(pts_ets), len(e_rate), len(acc))

3279 3279 3279 3279 3279 3279 3279 3279

In [202]:
analysts_stocks = pd.DataFrame()
analysts_stocks["Analysts"] = anal_name
analysts_stocks["Ticker"] = tick
analysts_stocks["Report"] = report
analysts_stocks["Quarters"] = quarters
analysts_stocks["Points"] = points
analysts_stocks["Points_Estimate"] = pts_ets
analysts_stocks["Estimate_rate"] = e_rate
analysts_stocks["Accuracy"] = acc

In [204]:
analysts_stocks.head()

,Analysts,Ticker,Report,Quarters,Points,Points_Estimate,Estimate_rate,Accuracy
0,Analyst_2628177,HIBB,Mar 11,1,27,27,16.9%,71%
1,loopie,NFLX,Jan 18,17,303,17.8,10.7%,66%
2,loopie,GOOGL,Feb 2,16,257,16.1,7.7%,56%
3,loopie,BIDU,Feb 24,16,262,16.4,13.1%,53%
4,loopie,AMZN,Feb 3,16,208,13,26.9%,59%

In [206]:
analysts_stocks.to_csv("Analysts Stocks.csv")

##### Pending Estimates

In [237]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [238]:
browser.get('https://www.estimize.com/users/tv447703')

In [232]:
browser.execute_script("window.scrollTo(0, window.scrollY + 1400)")

In [265]:
anal_name = []
tick = []
quarter = []
reports = []
published = []
eps = []
revenue = []



for user in users:
    
    url = 'https://www.estimize.com/users/'+user
    
    browser.get(url)
    browser.execute_script("window.scrollTo(0, window.scrollY + 1300)")
    time.sleep(5)

    for xi in range(0,1):
        try:
            if(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[2]')):
                button = browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[2]')
                button.click()
        except NoSuchElementException:
            break

    try:
        for i in range(1,100):
            tick.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[1]/strong').text)
            quarter.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[2]').text)
            reports.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[3]').text)
            published.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[4]').text)
            eps.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[5]').text)
            revenue.append(browser.find_element_by_xpath('//*[@id="profile-pending-estimates"]/div[1]/div[2]/a['+str(i)+']/div[6]').text)
            anal_name.append(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1/a').text)
    except:
        continue

In [270]:
print(len(tick), len(quarter), len(reports), len(published), len(eps), len(revenue), len(anal_name))

461 461 461 461 461 461 461

In [272]:
analysts_pending = pd.DataFrame()
analysts_pending["Analyst"] = anal_name
analysts_pending["Ticker"] = tick
analysts_pending["Reports"] = reports
analysts_pending["Published Data"] = published
analysts_pending["EPS"] = eps
analysts_pending["Revenue"] = revenue

In [273]:
analysts_pending.head()

   Analyst Ticker           Reports Published Data   EPS Revenue
0  rsreina      C  Jan 14, 2022 BMO   Nov 25, 2021  1.88  17,250
1  rsreina   ASML  Jan 19, 2022 BMO    Dec 7, 2021  4.41   5,995
2  rsreina   STLD  Jan 24, 2022 AMC    Dec 8, 2021  5.61   5,350
3  rsreina    IBM  Jan 24, 2022 AMC    Dec 7, 2021  3.46  18,450
4  rsreina    ABT  Jan 26, 2022 BMO    Dec 5, 2021  1.38  10,750

In [274]:
analysts_pending.to_csv('Analysts Pending.csv')

In [275]:
browser.close()

##### Estimates

In [276]:
chrome_options = webdriver.ChromeOptions()
chrome_options.headless = False
browser = webdriver.Chrome(executable_path = './chromedriver.exe',
                          options = chrome_options)

In [277]:
url = 'https://www.estimize.com/users/tv447703'

In [278]:
browser.get(url)

In [280]:
browser.execute_script("window.scrollTo(0, window.scrollY + 1450)")

In [283]:
for xi in range(0,1):
    try:
        if(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[2]')):
            xi = browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[2]')
            xi.click()
            
    except NoSuchElementException:
        break

In [ ]:
try:
    for i in range(1,100):
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[1]/strong').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[2]').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[3]').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[4]').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[5]').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[6]').text)
        print(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[7]').text)
except:
    print('kek')

In [287]:
anal_name=[]
tick=[]
quarter = []
reported = []
rank = []
eps = []
revenue = []
total = []

for user in users:
    
    url = 'https://www.estimize.com/users/'+user
    
    browser.get(url)
    browser.execute_script("window.scrollTo(0, window.scrollY + 1450)")
    time.sleep(5)
    
    for xi in range(0,1):
        try:
            if(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[2]')):
                xi = browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[2]')
                xi.click()

        except NoSuchElementException:
            break
    try:
        for i in range(1,100):
            tick.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[1]/strong').text)
            quarter.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[2]').text)
            reported.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[3]').text)
            rank.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[4]').text)
            eps.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[5]').text)
            revenue.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[6]').text)
            total.append(browser.find_element_by_xpath('//*[@id="profile-scored-estimates"]/div[1]/div[2]/a['+str(i)+']/div[7]').text)
            anal_name.append(browser.find_element_by_xpath('//*[@id="users_show"]/div[4]/div[1]/div[2]/div[1]/div/h1/a').text)

    except:
        continue

In [296]:
print(len(anal_name),len(tick), len(quarter), len(reported),len(rank),len(eps), len(revenue), len(total))

3567 3567 3567 3567 3567 3567 3567 3567

In [297]:
analysts_scored = pd.DataFrame()
analysts_scored["Analysts"] = anal_name
analysts_scored["Ticker"] = tick
analysts_scored["Quarter"] = quarter
analysts_scored["Reported"] = reported
analysts_scored["Rank"] = rank
analysts_scored["EPS_Points"] = eps
analysts_scored["Revenue_Points"] = revenue
analysts_scored["Total_Points"] = total

In [298]:
analysts_scored.head()

,Analysts,Ticker,Quarter,Reported,Rank,EPS_Points,Revenue_Points,Total_Points
0,Analyst_2628177,HIBB,Q4 2019,"Mar 22, 2019",6 / 35,10,17,27
1,loopie,MSGS,Q1 2022,"Nov 10, 2021",2 / 11,24,-2,22
2,loopie,PYPL,Q3 2021,"Nov 8, 2021",5 / 111,25,-2,23
3,loopie,ROKU,Q3 2021,"Nov 3, 2021",41 / 68,8,-2,6
4,loopie,ANET,Q3 2021,"Nov 1, 2021",4 / 28,11,22,33

In [305]:
analysts_scored.to_csv("Analysts Scored Estimates.csv")